@model Testing_System.Models.Test.TestViewModel

<div class="col-md-6">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <a class="ms-auto" asp-controller="Home" asp-action="StartTestPage" asp-route-id="@Model.Id">Start</a>
        </div>
    </div>
</div>