@model Testing_System.Models.Test.HistoryViewModel
@{
    ViewData["Title"] = "History";
}
@if(Model.userStatus == "teacher")
{
<div class="container">
    <div class="row">

        @foreach (var Test in Model.Tests)
        {
            @Html.DisplayFor(m => Test, "HistoryTeacherCard")
        }
    </div>
</div>
}
else if(Model.userStatus == "student")
{
    <div class="container">
        <div class="row">

            @foreach (var Test in Model.Tests)
            {
                @Html.DisplayFor(m => Test, "HistoryStudentCard")
            }
        </div>
    </div>
}